{% extends "layout.html" %}
{% block content %}
    <h2>charity Service</h2>
    <div class="form-inline">
        <form action="{{ url_for('listing') }}">
	    <input type=submit value=List>
        </form>
        <form action="{{ url_for('form') }}">
  	    <input type=submit value='Submit the form'>
        </form>
    </div>

{% endblock %}

