{% extends "layout.html" %}
{% block content %}
<h2>social service Form</h2>
<form action="{{ url_for('submit') }}" method=post>
    <p class="heading">Name: <input type=text name=name>
    <p class="heading">Description: <input type=text name=Description>
    <p class="heading">Street Address: <input type=text name=Street_Address>
    <p class="heading">Type of service: <input type=text name=Type_of_service>
    <p class="heading">Phone number: <input type=text name=Phone_number>
    <p class="heading">Hours of Operation: <input type=text name=Hours_of_Operation>
    <p class="heading">Reviews: <textarea rows=5 cols=50 name=Reviews></textarea></p>
    <p><input type=submit value=Submit></p>
	 </form>
    <form action="{{ url_for('listing') }}">
	<p><input type=submit value='Return to view list'></p>
    </form>

{% endblock %}
