<!doctype html>
<html>
<h2>Web Application for charity and social services in portland</h2>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    {% block content %}{% endblock %}
</div>
</html>

