{% extends "layout.html" %}
{% block content %}
<h2>List of Entries</h2>
    {% for entry in entries %}
<p class="entry">
	<p>
	 name: {{ entry.name }}
	    
	</p>
	<div>
		Description: <th>{{entry.Description}}</th><br>
           Street Address: <th>{{entry.Street_Address}}</th><br>
           Type of service: <th>{{entry.Type_of_service}}</th><br>

            </div>
            
            	 <div>
		    Phone number: {{ entry.Phone_number }}<br>
	    	    Hours of Operation: {{ entry.Hours_of_Operation }}
	    </div>
	 <div>
		    Reviews:
		    <div class="user-reviews">
		    {{ entry.Reviews}}<br>
		    </div>
	    </div>
	date :{{ entry.date }}
        </p>
    {% endfor %}
    <form id='returnhome' action="{{ url_for('index')}}">
	<input type=submit value='Return to homepage'>
    </form>
    <form id='cartsubmit' action="{{ url_for('form')}}">
	<input type=submit value='Submit new Form'>
    </form>

{% endblock %}


